<template>
  <div class="container">
    <!-- Modal window -->
    <modal v-if="showModal">
      <h3 slot="header">Как получить скидку?</h3>
      <div slot="body">
        <div class="col-lg-12">
          <b>1.</b> После первого заказа получите пароль от личного кабинета
          <br />
          <b>2.</b> Заполните информацию профиля
          <br />
          <b>3.</b> Станьте постоянным клиентом цветочной мастерской "Аромат"
          <br />
        </div>
        <div class="col-lg-12">Скидка предоставляется после покупки следующего количества букетов:</div>
        <div class="col-lg-12">
          <span class="text-success">3%</span> - после покупки 5 букетов
          <br />
          <span class="text-success">5%</span> - после покупки 10 букетов
          <br />
          <span class="text-success">7%</span> - после покупки 15 букетов
          <br />
        </div>
        <div slot="footer">
          <button class="btn btn-link font-primary small px-4" @click="showModal = false">Хорошо</button>
        </div>
      </div>
    </modal>
    <!-- Confirm Modal window -->
    <div class="row">
      <div class="col-lg-12">
        <div class="text-right mt-4 font-primary regular middle">
          <p>
            Ваша скидка постоянного клиента:
            <span v-if="user.bonus === null">0%</span>
            <span v-else>{{ user.bonus.bonus }}%</span>
          </p>
          <small>
            До получения большей скидки осталось приобрести букетов:
            <span
              @click="showModal = true"
              class="text-success pointer"
            >
              <i>{{ this.state.next_level - this.state.current_state }}</i>
            </span>
          </small>
        </div>

        <tabs>
          <tab name="Мои Адреса">
            <div class="container">
              <div class="row">
                <div class="card col-lg-12 m-2">
                  <div class="card-body">
                    <h5 class="card-title font-primary">Добавить адрес</h5>
                    <div class="form-row">
                      <div class="form-group col-lg-4">
                        <vue-input
                          id="city"
                          :hint="errorMessage('city')"
                          color="#ae4a84"
                          label="Город"
                          :error="!$v.deliveryForm.city.required && $v.deliveryForm.city.$dirty"
                          v-model.trim="$v.deliveryForm.city.$model"
                        />
                      </div>
                      <div class="form-group col-lg-3">
                        <vue-input
                          id="street"
                          :hint="errorMessage('street')"
                          color="#ae4a84"
                          label="Улица"
                          :error="!$v.deliveryForm.street.required && $v.deliveryForm.street.$dirty"
                          v-model.trim="$v.deliveryForm.street.$model"
                        />
                      </div>
                      <div class="form-group col-lg-3">
                        <vue-input
                          id="building"
                          :hint="errorMessage('building')"
                          color="#ae4a84"
                          label="Дом"
                          :error="!$v.deliveryForm.building.required && $v.deliveryForm.building.$dirty"
                          v-model.trim="$v.deliveryForm.building.$model"
                        />
                      </div>
                      <div class="form-group col-lg-2">
                        <vue-input
                          id="suite"
                          color="#ae4a84"
                          type="number"
                          label="Квартира"
                          v-model.trim="deliveryForm.suite"
                        />
                      </div>
                    </div>
                    <div class="form-group text-center">
                      <button
                        type="button"
                        @click="add"
                        :disabled="$v.validationGroup.deliveryForm.$invalid"
                        class="btn btn-primary"
                      >Добавить</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div
                  v-for="delivery in deliveries"
                  v-bind:key="delivery.id"
                  class="card col-lg-3 m-2"
                >
                  <div class="card-body">
                    <h5 class="card-title font-primary regular">Адрес</h5>
                    <p
                      class="card-text"
                    >{{ delivery.city }}, {{ delivery.street }}, дом {{ delivery.building }}</p>
                    <div class="form-check form-group">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        v-model="delivery.active"
                        @change="changeDefault(delivery)"
                        :id="'defaultCheck' + delivery.id"
                      />
                      <label
                        class="form-check-label"
                        :for="'defaultCheck' + delivery.id"
                      >Выбрать по умолчанию</label>
                    </div>

                    <div class="form-group text-center">
                      <button type="button" class="btn btn-danger">Удалить</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab name="Мои заказы">
            <table class="table font-primary table-hover mt-4" v-if="orders.length">
              <thead>
                <tr class="font-secondary regular">
                  <th scope="col">#</th>
                  <th scope="col">Букет</th>
                  <th scope="col">Сумма</th>
                  <th scope="col">Статус</th>
                  <th scope="col">Дата</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(order, index) in orders" v-bind:key="index">
                  <th>{{ index + 1 }}</th>
                  <td>
                    <span v-for="(item, index) in order.items" v-bind:key="index">
                      {{ item.name }}
                      <br />
                    </span>
                  </td>
                  <td>{{ order.order.price }} ₽</td>
                  <td>{{ getOrderStatus(order.order.status_id) }}</td>
                  <td>{{ order.order.created_at }}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </tab>
          <tab name="Профиль">
            <div class="form-group">Раздел находится в разработке =)</div>
          </tab>
        </tabs>
      </div>
    </div>
  </div>
</template>
<script>
import Tabs from "vue-tabs-component";
import { required } from "vuelidate/lib/validators";

Vue.use(Tabs);

export default {
  data() {
    return {
      showModal: false,
      deliveries: [],
      deliveryForm: {
        city: "",
        street: "",
        building: "",
        suite: "",
        name: "" // @todo named deliveries address
      },
      statuses: [
        {
          value: 1,
          label: "Новый"
        },
        {
          value: 2,
          label: "Отменен"
        },
        {
          value: 3,
          label: "Ожидает оплаты"
        },
        {
          value: 4,
          label: "Оплачен"
        },
        {
          value: 5,
          label: "Собираем букет"
        },
        {
          value: 6,
          label: "Завершен"
        },
      ]
    };
  },
  validations: {
    deliveryForm: {
      city: { required },
      building: { required },
      street: { required }
    },
    validationGroup: ["deliveryForm"]
  },
  props: {
    orders: Array,
    user: Object,
    state: Object
  },
  mounted() {
    this.deliveries = this.user.deliveries;
  },
  methods: {
    getOrderStatus(statusID) {
      let i = this.statuses
        .map(status => parseInt(status.value))
        .indexOf(statusID);
      return this.statuses[i].label;
    },
    add() {
      if (!this.$v.validationGroup.deliveryForm.$invalid) {
        let data = {
          city: this.deliveryForm.city,
          street: this.deliveryForm.street,
          building: this.deliveryForm.building,
          suite: this.deliveryForm.suite
        };

        axios
          .post("/user/delivery", data)
          .then(res => {
            this.deliveries.push(res.data);
            console.log(this.deliveries);
          })
          .catch(error => {
            console.log(error);
          });
      }
    },

    errorMessage(type) {
      let isValid = true;
      if (type === "name") {
        isValid =
          !this.$v.userForm.name.required && this.$v.userForm.name.$dirty;
      }
      if (type === "city") {
        isValid =
          !this.$v.deliveryForm.city.required &&
          this.$v.deliveryForm.city.$dirty;
      }
      if (type === "street") {
        isValid =
          !this.$v.deliveryForm.street.required &&
          this.$v.deliveryForm.street.$dirty;
      }
      if (type === "building") {
        isValid =
          !this.$v.deliveryForm.building.required &&
          this.$v.deliveryForm.building.$dirty;
      }

      return isValid ? "Поле не должно быть пустым" : "";
    },

    changeDefault(delivery) {
      let data = {
        delivery_id: delivery.id,
        user_id: this.user.id
      };

      axios
        .post("/user/delivery/default", data)
        .then(res => {
          console.log(res);
          if (res.data.success) {
            this.deliveries.map(item => {
              if (item.id !== delivery.id) item.active = false;
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>