<template>
  <div class="container">
    <div v-if="!items.length" class="col-lg-12 font-primary pt-4">
      <h3>
        Ваша корзина пока пуста.
        <a href="/">Выберите букет</a>
      </h3>
    </div>

    <div v-else v-for="(item, index) in items" v-bind:key="index" class="row mt-4">
      <div class="col-lg-4">
        <img class="img img-thumbnail" :src="item.photos[0].path" :alt="item.name" />
      </div>
      <div class="cart-item-description col-lg-4">
        <div class="title">
          {{ item.name }}
          <i @click="removeFromCart(item)" class="fa fa-trash ml-4"></i>
        </div>
        <div class="font-primary regular">
          Количество:
          <span class="pointer" @click="add(item.id)">+</span>
          {{ item.pivot.quantity }}
          <span class="pointer" @click="remove(item.id)">-</span>
        </div>
        <div class="mt-4 font-primary regular">
          Стоимость:
          <span v-if="item.price > 0">
            <b>{{ item.price * item.pivot.quantity }} ₽</b>
          </span>
          <span v-else>Бесплатно</span>
        </div>
        <div v-if="item.price == 0" class="form-group mt-4 font-secondary text-center">
          <textarea
            v-model.trim="cardText"
            :readonly="cardSaved && cardText !== ''"
            placeholder="Придумайте текст открытки"
            class="form-control"
            id="cart-text"
            rows="3"
          ></textarea>
          <label for="card-text">
            <small class="text-muted font-primary regular">Не более 120 символов</small>
          </label>
        </div>
        <div v-if="item.price == 0 && !cardSaved" class="text-center">
          <button @click="addText(item.id)" class="aroma-button save">Сохранить</button>
        </div>
      </div>
    </div>
    <div v-if="items.length">
      <!-- Show add gift card button if had not been added yet -->
      <div v-if="!free">
        <button class="aroma-button mt-3 col-lg-4">
          <a :href="'/cart/' + cartId + '/free'">Добавить открытку</a>
        </button>
      </div>
      <div class="mt-4">
        <div class="col-lg-12 text-right">
          <span class="font-secondary middle bold">Сумма заказа: {{ common }} ₽</span>
        </div>
      </div>
      <div class="mt-4">
        <div class="col-lg-12 text-right">
          <button class="aroma-button py-2">
            <a href="/order">Оформить заказ</a>
          </button>
        </div>
      </div>
    </div>
    <div
      v-if="extras.length"
      class="col-lg-12 text-center font-secondary regular middle pt-4 pb-4"
    >Посмотрите какие интересные подарки есть в нашем магазине!</div>
    <div class="row">
      <div v-for="extra in extras" v-bind:key="extra.id" class="p-3 col-lg-4 text-center">
        <div class="item-box">
          <div class="price-box">{{ extra.price }} &#8381;</div>
          <div class="img-hover-zoom-brightness">
            <img
              class="img w-75"
              :src="extra.photos[0].path"
              :alt="extra.name + 'купить в Таганроге'"
            />
          </div>
          <h3>{{ extra.name }}</h3>
          <a :href="'/items/' + extra.id">
            <button type="button" class="order-button rounded p-2 mt-2">Посмотреть</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      added: [],
      items: [],
      extras: [],
      cartId: 0,
      cardText: "",
      cardSaved: false
    };
  },
  computed: {
    free() {
      return this.items.find(element => element.price === 0);
    },
    common() {
      let sum = 0;
      this.items.forEach(function(item) {
        sum += parseFloat(item.price) * parseFloat(item.pivot.quantity);
      });

      return sum;
    }
  },
  mounted() {
    this.cartId = localStorage.getItem("cart_id");

    if (this.cartId !== null) {
      axios
        .get("/cart/" + this.cartId)
        .then(res => {
          this.items = res.data.items;
          this.extras = res.data.extras;
          this.added = JSON.parse(localStorage.getItem("added"));
          console.log(this.extras);
          console.log(res.data);
          console.log(this.added);
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {
    let checkText = localStorage.getItem("text");

    if (checkText !== null) {
      this.cardText = checkText;
    }
  },
  methods: {
    add(itemId) {
      let i = this.items.map(item => parseInt(item.id)).indexOf(itemId);
      if (this.items[i].pivot.quantity >= 0) ++this.items[i].pivot.quantity;

      this.saveCart("add", itemId);
    },

    remove(itemId) {
      let i = this.items.map(item => parseInt(item.id)).indexOf(itemId);
      if (this.items[i].pivot.quantity > 0) --this.items[i].pivot.quantity;

      this.saveCart("remove", itemId);
    },

    removeFromCart(item) {
      axios
        .delete(`/cart/${this.cartId}/${item.id}`)
        .then(res => {
          console.log(res);
          if (res.data.success) {
            this.updateAdded();
            this.items = this.items.filter(filter => filter.id !== item.id);
            console.log(this.items);
          }
        })
        .catch(error => {
          console.log(error);
        });
    },

    addText(itemId) {
      localStorage.setItem("text", this.cardText);
      this.cardSaved = true;
    },

    saveCart(action, itemId) {
      let data = {
        cart_id: this.cartId,
        item_id: itemId,
        action
      };

      axios
        .post("/cart/update", data)
        .then(res => {})
        .catch(error => {
          console.log(error);
        });
    },

    updateAdded(itemId) {
      let find = this.added.indexOf(itemId);
      console.log(find);

      this.added.splice(find, 1);
      if (!this.added.length) localStorage.removeItem("added");
      else localStorage.setItem("added", this.added);
    }
  }
};
</script>
<style scoped>
i {
  cursor: pointer;
  font-size: 16pt;
}
</style>