<template>
  <div class="container-fluid">
    <main-filters v-on:defaultFilters="onSetFilters" v-on:filters="onSetFilters"></main-filters>
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title mt-2">
          <h1 v-if="types === 'flowers'">Цветы / Букеты</h1>
          <h1 v-else-if="types === 'gifts'">Подарки</h1>
          <h1 v-else>Открытки</h1>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div v-for="item in items" v-bind:key="item.id" class="p-2 mt-4 col-lg-4 text-center">
        <div class="item-box">
          <div class="price-box">{{ item.price }} &#8381;</div>
          <div class="img-hover-zoom-brightness" @click="openDetails(item.id)">
            <img
              class="img w-75"
              v-if="item.photos.length"
              :src="item.photos[0].path"
              :alt="item.name + 'купить в Таганроге'"
            />
          </div>
          <h3>{{ item.name }}</h3>
          <button
            v-if="!item.added"
            @click="addToCart(item.id)"
            type="button"
            class="order-button rounded p-2 mt-2"
          >Добавить</button>
          <a v-if="item.added" :href="'/cart'">
            <button class="order-button added rounded p-2 mt-2">Перейти в корзину</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
</style>

<script>
import MainFilters from "./main-filters";

export default {
  data() {
    return {
      items: [],
      filters: [],
      added: [],
      user: null
    };
  },

  props: {
    load: Array,
    types: String
  },

  methods: {
    onSetFilters(value) {
      let valueExist = this.isValueExist(value.id);
      let priceExist = this.isPriceExist();

      // If the price already enabled just clear all prices before push the new one
      // Check on every new price filter click
      if (priceExist && value.type === "price") {
        this.filters = this.filters.filter(element => {
          return element.type !== "price";
        });
      }

      // Check if the value already exist if not add if exist remove
      if (valueExist < 0) {
        this.filters.push(value);
      } else if (value.type !== "price") {
        // disable remove price here because the prices clears the code ahead
        this.filters.splice(valueExist, 1);
      }

      axios
        .post("/items/filter", this.filters)
        .then(res => {
          this.items = res.data.map(item => {
            if (this.added.find(addedItem => addedItem === item.id)) {
              item.added = true;
            } else {
              item.added = false;
            }
            return item;
          });
        })
        .catch(error => {
          console.log(error);
        });
    },

    markAdded(itemId) {
      let i = this.items.map(item => parseInt(item.id)).indexOf(itemId);

      this.items[i].added = true;
    },

    isValueExist(id) {
      let result = this.filters.map(item => parseInt(item.id)).indexOf(id);

      return result;
    },

    isPriceExist() {
      let result = false;

      for (let i = 0; i < this.filters.length; i++) {
        if (this.filters[i].type === "price") {
          result = true;
          break;
        }
      }

      return result;
    },

    addToCart(id) {
      this.user = this.$cookie.get("user") ? this.$cookie.get("user") : null;
      this.user = parseInt(this.user) !== NaN ? parseInt(this.user) : this.user;
      // console.log(Number.isInteger(this.user));

      axios
        .post("/cart", {
          item_id: id,
          user: this.user,
          cart_id:
            localStorage.getItem("cart_id") !== null
              ? localStorage.getItem("cart_id")
              : null
        })
        .then(res => {
          if (res.data.success) {
            if (res.data.data.temp !== null) {
              this.user = res.data.data.temp;
              this.$cookie.set("user", res.data.data.temp);
            }

            localStorage.setItem("cart_id", res.data.data.id);
            // Push added items to localStorage for show catalogue added Items
            this.added.push(id);
            localStorage.setItem("added", JSON.stringify(this.added));
            // Mark this item added for button show
            this.markAdded(id);
          }
        })
        .catch(error => {
          console.log(error);
        });
    },

    openDetails(itemId) {
      window.location = "/items/" + itemId;
    }
  },
  mounted() {
    console.log(this.types);
    
    this.added =
      localStorage.getItem("added") !== null
        ? JSON.parse(localStorage.getItem("added"))
        : [];

    this.items = this.load.map(item => {
      if (this.added.find(addedItem => addedItem === item.id)) {
        item.added = true;
      } else {
        item.added = false;
      }
      return item;
    });
  },
  components: {
    MainFilters
  }
};
</script>
