<template>
  <div>
    <span class="beta-version" @click="showModal = true">beta</span>
    <modal v-if="showModal" class="text-dark">
      <h3 slot="header">Платформа находится в стадии бета-тестирования</h3>
      <div slot="body">
        <div class="col-lg-12 font-primary">
           Если у Вас возникли проблемы с оформлением заказа или любые другие трудности при использовании сервиса, напишите письмо на
          <a href="mailto:jedyphp@yandex.ru">jedyphp@yandex.ru</a> или позвоните по номеру:
          <a href="tel:+79044401911">+7-904-440-19-11</a>
        </div>
        <div slot="footer">
          <button type="button" @click="showModal = false" class="btn btn-link">Понятно</button>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showModal: false
    };
  }
};
</script>