<template>
  <div class="filters">
    <div class="row text-center">
      <div class="col-lg-2" v-for="filter in initialize" v-bind:key="filter.id">
        <div
          class="filter py-2 mt-3"
          :class="{ active: filter.active }"
          @click="emitDefaultFilter"
          :data-id="filter.id"
          :data-value="filter.value"
          :data-type="filter.type"
        >{{ filter.text }}</div>
      </div>
    </div>

    <div v-if="!loadMore" class="row justify-content-center mt-3">
      <div @click="onLoadMore" class="filter py-2 px-4">Больше фильтров!</div>
    </div>

    <div class="justify-content-center">
      <div class="more-filters-container">
        <div :class="{ loaded: loadMore }" class="row text-center more-filters-content">
          <div class="col-lg-2" v-for="category in mappedCategories" v-bind:key="category.id">
            <div
              class="filter py-2 mt-3"
              :class="{ active: category.active }"
              @click="emitFilter"
              :data-id="category.id"
              :data-type="category.type"
            >{{ category.text }}</div>
          </div>
        </div>

        <div v-if="loadMore" class="row justify-content-center mt-3">
          <div @click="onLoadMore" class="filter py-2 px-4">Меньше фильтров!</div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.more-filters-container {
  overflow: hidden;
  position: relative;
  /* the container's height will determine the height of its slider  */
  /*height:350px; */
}
.more-filters-content {
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -ms-transition: -ms-transform 0.3s ease;
  transition: transform 0.3s ease;
}

.more-filters-content {
  /* visible */
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  height: 0px;
}

.loaded {
  /* completely offscreen */
  -webkit-transform: translate(0, 0%);
  -moz-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  transform: translate(0, 0%);
  height: auto;
}
</style>
<script>
export default {
  data() {
    return {
      initialize: [
        {
          id: 900,
          active: false,
          type: "price",
          value: 1000,
          text: "до 1000 Р"
        },
        {
          id: 901,
          active: false,
          type: "price",
          value: 1500,
          text: "от 1000 до 1500 Р"
        },
        {
          id: 902,
          active: false,
          type: "price",
          value: 2500,
          text: "от 1500 до 2500 Р"
        },
        { id: 903, active: false, type: "price", value: 3500, text: "2500+ Р" },
        { id: 904, active: false, type: "hit", value: true, text: "Хиты" },
        { id: 905, active: false, type: "extra", value: true, text: "Подарки" }
      ],

      filters: [],
      categories: [],
      mappedCategories: [],
      remember: 0,
      loadMore: false
    };
  },
  mounted() {
    axios
      .get("/items/categories")
      .then(res => {
        this.categories = res.data;
        this.mappedCategories = this.categories.map(category => {
          return {
            id: category.id,
            active: false,
            type: "category",
            text: category.name
          };
        });
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    emitDefaultFilter(event) {
      let id = parseInt(event.target.getAttribute("data-id"));
      let value = event.target.getAttribute("data-value");
      let type = event.target.getAttribute("data-type");

      let data = { id, type, value };

      // Working with the common filters

      let i = this.initialize.map(item => parseInt(item.id)).indexOf(id); // find index of your object

      if (!this.initialize[i].active) {
        this.initialize[i].active = true;
        if (this.initialize[i].type === "price") {
          this.remember = this.initialize[i].id;
        }
      } else {
        this.initialize[i].active = false;
      }

      this.initialize = this.initialize.map(item => {
        if (item.type === "price" && item.id !== this.remember) {
          item.active = false;
        }

        return item;
      });

      this.$emit("defaultFilters", data);
    },

    emitFilter(event) {
      let id = parseInt(event.target.getAttribute("data-id"));
      let type = event.target.getAttribute("data-type");

      let data = { id, type };

      // Working with the common filters

      let i = this.mappedCategories.map(item => parseInt(item.id)).indexOf(id); // find index of your object

      if (!this.mappedCategories[i].active) {
        this.mappedCategories[i].active = true;
      } else {
        this.mappedCategories[i].active = false;
      }

      this.$emit("filters", data);
    },

    onLoadMore() {
      this.loadMore = this.loadMore === false ? true : false;
    }
  }
};
</script>