<template>
  <div class="container">
    <!-- Modal window -->
    <modal v-if="showModal" @close="showModal = false">
      <h3 slot="header">Как получить скидку?</h3>
      <div slot="body">
        <div class="col-lg-12">
          <b>1.</b> После первого заказа получите пароль от личного кабинета
          <br />
          <b>2.</b> Заполните информацию профиля
          <br />
          <b>3.</b> Станьте постоянным клиентом цветочной мастерской "Аромат"
          <br />
        </div>
        <div class="col-lg-12">Скидка предоставляется после покупки следующего количества букетов:</div>
        <div class="col-lg-12">
          <span class="text-success">3%</span> - после покупки 5 букетов
          <br />
          <span class="text-success">5%</span> - после покупки 10 букетов
          <br />
          <span class="text-success">7%</span> - после покупки 15 букетов
          <br />
        </div>
        <div slot="footer">
          <button class="aroma-button small px-4" @click="showModal = false">Хорошо</button>
        </div>
      </div>
    </modal>
    <!-- Confirm Modal window -->
    <modal v-if="showConfirmModal">
      <h3 slot="header">Заказ принят, ожидайте звонка менеджера!</h3>
      <div v-if="isExist || isLogged" slot="body">
        <h3>
          За статусом Вашего заказа также можете следить из
          <a href="/login">Личного Кабинета</a>
        </h3>
      </div>
      <div v-else slot="body">
        <div class="font-primary small regular">
          <h2>Откройте Личный кабинет и пользуйтесь преимуществами Постоянного клиента.</h2>
          <p>Зарегистрированные пользователи имеют возможность</p>
          <p>1. Получать накопительную скидку</p>
          <p>2. Добавлять адреса доставки в избранное и быстро выбирать их при оформлении заказа</p>
          <p>3. Отслеживать историю своих заказов</p>
          <p>4. Получать персональные предложения и бонусы</p>
        </div>
        <div v-show="!isConfirmed" class="font-primary text-danger">
          <p>Подтвердите свой номер, чтобы открыть Личный кабинет</p>
          <div
            v-show="isSent"
          >На Ваш номер было выслано смс с кодом подтверджения. Введите указанный в смс код:</div>
          <div class="flex-center mt-4" v-show="isSent">
            <vue-input
              id="confirm"
              hint="Код"
              :border-radius="radius"
              color="#ae4a84"
              label="Код"
              v-model.trim="confirmCode"
              class="font-primary w-30"
            />
            <button
              type="button"
              class="btn btn-link"
              v-show="isSent"
              @click="confirm"
            >Отправить повторно</button>
          </div>
          <div class="flex-center mt-4">
            <div
              v-show="smsError"
              class="alert alert-danger"
              role="alert"
            >Вы ввели неверный код. Попробуйте еще раз или запросите новый код.</div>
            <button
              type="button"
              class="aroma-button mt-4 px-4"
              v-if="!isSent"
              @click="smsSend"
            >Отправить</button>
          </div>
          <button
            type="button"
            class="aroma-button mt-4 px-4"
            v-show="isSent && !isConfirmed"
            @click="confirm"
          >Подтвердить</button>
        </div>

        <div v-show="isConfirmed" class="col-lg-12 alert alert-info" role="alert">
          Поздравляем с регистрацией на aroma-flowers.ru!
          <a href="/login">Войдите сейчас</a>, или
          <a href="/">позже</a> чтобы накапливать скидку за каждый букет.
        </div>
        <div v-show="isConfirmed" class="col-lg-12 alert alert-danger" role="alert">
          <h3>Ваш код подтверджения является паролем ко входу в Личный кабинет. Логин - Ваш номер телефона</h3>
        </div>
      </div>
      <div slot="footer">
        <button type="button" @click="close" class="btn btn-link">Позже</button>
      </div>
    </modal>
    <!-- End Modal windows -->
    <div v-if="!items.length" class="col-lg-12">
      <h3>
        Ваша корзина пока пуста.
        <a href="/">Выберите букет</a>
      </h3>
    </div>
    <div v-else>
      <div class="row mt-4">
        <div class="col-lg-12 flex-center">
          <div
            v-for="step in steps"
            v-bind:key="step.id"
            :class="{ active: step.active }"
            class="circle flex-center"
          >{{ step.id }}</div>
        </div>
      </div>

      <!-- Step 1 -->
      <table
        v-show="step === 1"
        class="table table-responsive order-table font-secondary table-hover mt-4"
      >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th style="width: 50%" scope="col">Фото</th>
            <th scope="col">Название</th>
            <th scope="col">Количество</th>
            <th scope="col">Цена</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in items" v-bind:key="index">
            <th>{{ index + 1 }}</th>
            <td>
              <img class="img img-thumbnail" :src="item.photos[0].path" :alt="item.name" />
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.pivot.quantity }}</td>
            <td>
              <span v-if="item.price > 0">
                <b>{{ item.price * item.pivot.quantity }} ₽</b>
              </span>
              <span v-else>Бесплатно</span>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <div class="mt-4" v-show="step === 2">
        <h1 class="font-primary middle">Ваши данные:</h1>
        <div class="form-group">
          <vue-input
            :hint="errorMessage('name')"
            :border-radius="radius"
            color="#ae4a84"
            label="Введите имя"
            :error="!$v.userForm.name.required && $v.userForm.name.$dirty"
            :disabled="isLogged"
            v-model.trim="$v.userForm.name.$model"
            class="font-primary"
          />
        </div>
        <div class="form-group">
          <vue-phone-number-input
            v-model="$v.userForm.phone.$model"
            @update="validatePhone"
            no-country-selector
            :translations="translations"
            :disabled="isLogged"
            class="font-primary"
          />
        </div>
        <div class="form-group">
          <vue-input
            hint="Мы вышлем чек и фото на этот адрес"
            :border-radius="radius"
            color="#ae4a84"
            label="Ваш Email"
            :error="!$v.userForm.email.required && $v.userForm.email.$dirty"
            :disabled="isLogged"
            v-model.trim="$v.userForm.email.$model"
            class="font-primary"
          />
        </div>

        <small
          id="phoneHelp"
          class="form-text text-muted"
        >Мы не делимся вашими данными с третьими лицами.</small>
      </div>

      <div class="mt-4" v-show="step === 3">
        <h1 class="font-primary middle">Информация о доставке:</h1>
        <label class="pure-material-checkbox font-primary">
          <input type="checkbox" @change="checkDelivery" />
          <span>Заберу самостоятельно*</span>
          <small id="phoneHelp" class="form-text text-muted">*Только для жителей г. Таганрог</small>
        </label>
        <div v-show="isDelivery" class="form-row mt-3">
          <div class="form-group col-lg-4">
            <vue-input
              id="city"
              :hint="errorMessage('city')"
              :border-radius="radius"
              color="#ae4a84"
              label="Город"
              :error="!$v.deliveryForm.city.required && $v.deliveryForm.city.$dirty"
              v-model.trim="$v.deliveryForm.city.$model"
              :disabled="Boolean(deliveryId)"
            />
          </div>
          <div class="form-group col-lg-3">
            <vue-input
              id="street"
              :hint="errorMessage('street')"
              :border-radius="radius"
              color="#ae4a84"
              label="Улица"
              :error="!$v.deliveryForm.street.required && $v.deliveryForm.street.$dirty"
              v-model.trim="$v.deliveryForm.street.$model"
              :disabled="Boolean(deliveryId)"
            />
          </div>
          <div class="form-group col-lg-3">
            <vue-input
              id="building"
              :hint="errorMessage('building')"
              :border-radius="radius"
              color="#ae4a84"
              label="Дом"
              type="number"
              :error="!$v.deliveryForm.building.required && $v.deliveryForm.building.$dirty"
              v-model.trim="$v.deliveryForm.building.$model"
              :disabled="Boolean(deliveryId)"
            />
          </div>
          <div class="form-group col-lg-2">
            <vue-input
              id="suite"
              :border-radius="radius"
              color="#ae4a84"
              type="number"
              label="Квартира"
              v-model.trim="deliveryForm.suite"
              :disabled="Boolean(deliveryId)"
            />
          </div>
          <div v-show="isLogged && deliveryId">
            <button
              type="button"
              class="btn btn-link font-primary small"
              @click="resetDelivery"
            >Сменить адрес</button>
          </div>
        </div>
        <div v-show="isExist" class="col-lg-12 alert alert-info" role="alert">
          Кажется, вы уже зарегистрированы в нашей системе.
          <a href="/login">Войдите</a>, чтобы накапливать скидку за каждый букет.
        </div>
      </div>

      <div v-show="step === 4" class="mt-4 font-secondary">
        <h1 class="font-primary middle">Способ оплаты:</h1>
        <div class="form-group col-lg-12">
          <select class="custom-select" v-model="$v.paymentMethod.$model">
            <option value="0" selected>Выберите способ</option>
            <option
              v-for="method in paymentMethods"
              :value="method.id"
              v-bind:key="method.id"
            >{{ method.payment_method }}</option>
          </select>
        </div>
        <div class="input-group mb-3 col-lg-12" v-show="cardText">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon">Текст открытки</span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Придумайте текст открытки"
            aria-describedby="basic-addon"
            v-model="cardText"
          />
        </div>
        <div class="input-group mb-3 col-lg-4">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon-2">Промокод</span>
          </div>
          <input
            id="promo"
            type="text"
            class="form-control"
            placeholder
            aria-describedby="basic-addon-2"
            v-model="promoCode"
          />
          <div class="input-group-append">
            <button
              class="btn btn-secondary"
              :disabled="promoId > 0"
              type="button"
              @click="applyPromo"
            >Применить</button>
          </div>
        </div>
        <div class="col-lg-12 font-primary">
          <span v-show="promoError" class="form-text text-danger">Данный промокод не действует</span>
          <span
            v-show="promoSale > 0"
            class="form-text text-success"
          >Скидка по промокоду составила {{ promoSale }}%</span>
        </div>
      </div>
      <div class="form-group font-secondary middle mb-0 text-right">
        <span>
          Общая сумма:
          <b>{{ sum }} ₽</b>
        </span>
        <span
          v-show="step > 2 || bonusApplied"
          @click="showModal = true"
          class="form-text text-uppercase"
        >
          <small class="font-primary regular sale-client">
            <span v-show="bonus < 1">У вас нет скидки постоянного клиента</span>
            <span v-show="bonus > 0">Скидка постоянного клиента {{ bonus }}%</span>
          </small>
        </span>
      </div>
      <div class="col-lg-12 text-center">
        <button v-show="step > 3" @click="back" class="aroma-button px-4 mt-4">Назад</button>
        <button v-show="step === 1" @click="next" class="aroma-button px-4 mt-4">Начали!</button>
        <button
          v-show="step > 1 && step < 3"
          @click="next"
          class="aroma-button px-4 mt-4"
          :disabled="$v.validationGroup.userForm.$invalid || !userForm.phoneValid"
        >Далее</button>
        <button
          v-show="step === 3"
          @click="next"
          class="aroma-button px-4 mt-4"
          :disabled="$v.validationGroup.deliveryForm.$invalid && isDelivery"
        >Далее</button>
        <button
          v-show="step === 4 && !submited"
          @click="submit"
          class="aroma-button px-4 mt-4"
          :disabled="!$v.paymentMethod.paymentChoosed"
        >Завершить</button>
      </div>
    </div>
  </div>
</template>
<script>
import { required, minLength, email } from "vuelidate/lib/validators";

const paymentChoosed = value => value > 0;

export default {
  data() {
    return {
      items: [],
      paymentMethods: [],
      step: 1,
      steps: [
        { id: 1, active: true },
        { id: 2, active: false },
        { id: 3, active: false },
        { id: 4, active: false }
      ],
      cart: [],
      cartId: 0,
      deliveryId: 0,
      paymentMethod: 0,
      cardText: "",
      promoCode: "",
      promoId: 0,
      promoSale: 0,
      promoError: false,
      bonus: 0,
      bonusApplied: false,
      sum: 0,
      user: 0,
      userForm: {
        name: "",
        phone: "",
        email: "",
        phoneValid: false
      },
      city: "",
      deliveryForm: {
        city: "",
        street: "",
        building: "",
        suite: "",
        name: "" // @todo named deliveries address
      },
      orderForm: {
        delivery: 0,
        cart: 0,
        price: 0,
        promo: 0,
        bonus: 0
      },
      translations: {
        phoneNumberLabel: "Введите номер",
        example: "Пример"
      },
      radius: 2,
      isDelivery: true,
      showModal: false,
      showConfirmModal: false,
      isLogged: false,
      isExist: false,
      isSent: false,
      isConfirmed: false,
      smsError: false,
      confirmCode: "",
      submited: false
    };
  },
  validations: {
    paymentMethod: { paymentChoosed },
    userForm: {
      name: { required },
      email: { required, email },
      phone: { required, minLength: minLength(17) }
    },
    deliveryForm: {
      city: { required },
      building: { required },
      street: { required }
    },
    validationGroup: ["userForm", "deliveryForm"]
  },
  props: ["auth_user", "auth_deliveries"],
  computed: {
    common() {
      let sum = 0;
      this.items.forEach(function(item, index) {
        sum += parseFloat(item.price) * parseFloat(item.pivot.quantity);
      });

      return sum;
    }
  },
  mounted() {
    if (this.cartId > 0) {
      axios
        .get("/cart/" + this.cartId)
        .then(res => {
          this.items = res.data.items;
          this.getSum();
        })
        .catch(error => {
          console.log(error);
        });

      axios
        .get("/payment_methods")
        .then(res => {
          this.paymentMethods = res.data;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {
    this.loadCart();
    if (this.auth_user) this.isLogged = true;
    console.log(this.auth_user);
    console.log(this.auth_deliveries);
  },
  methods: {
    loadCart() {
      let cartId = localStorage.getItem("cart_id");
      if (cartId !== null) {
        this.cartId = parseInt(cartId);
        let text = localStorage.getItem("text");
        if (text !== null) {
          this.cardText = text;
        }
      }

      // If user logged in
      if (this.auth_user) {
        this.userForm.phone = this.auth_user.phone;
        this.userForm.name = this.auth_user.name;
        this.userForm.email = this.auth_user.email;
      }

      // If user has active delivery fill this one
      if (this.auth_deliveries && this.auth_deliveries.length) {
        this.auth_deliveries.forEach(delivery => {
          if (delivery.active) {
            this.deliveryForm.city = delivery.city;
            this.deliveryForm.street = delivery.street;
            this.deliveryForm.building = delivery.building;
            this.deliveryForm.suite = delivery.suite;
            this.deliveryId = delivery.id;
          }
        });
      }

      this.user = this.$cookie.get("user") ? this.$cookie.get("user") : null;
    },
    getSum() {
      let sum = 0;
      for (let i = 0; i < this.items.length; i++) {
        sum +=
          parseFloat(this.items[i].price) *
          parseFloat(this.items[i].pivot.quantity);
      }

      this.sum = sum;
    },

    next() {
      // Create user if not exist on this step
      if (this.step === 2) {
        if (!this.isLogged) {
          let data = {
            name: this.userForm.name,
            phone: this.userForm.phone,
            email: this.userForm.email,
            temp: this.user,
            cart: this.cartId
          };

          axios
            .post("/register", data)
            .then(res => {
              if (res.data.success) {
                this.user = res.data.result.id;
                this.$cookie.set("user", res.data.result.id);
                if (res.data.exist) {
                  this.isExist = true;
                }
              }
            })
            .catch(error => {
              console.log(error);
            });
        } else {
          this.getBonus();
        }
      }

      if (this.step === 3) {
        if (!this.$v.validationGroup.deliveryForm.$invalid) {
          let data = {
            user: this.user,
            city: this.deliveryForm.city,
            street: this.deliveryForm.street,
            building: this.deliveryForm.building,
            suite: this.deliveryForm.suite
          };

          if (this.deliveryId === 0) {
            axios
              .post("/user/delivery", data)
              .then(res => {
                this.deliveryId = res.data.id;
              })
              .catch(error => {
                console.log(error);
              });
          }
        }
      }

      this.step++;
      this.steps[this.step - 1].active = true;
    },

    back() {
      this.steps[this.step - 1].active = false;
      this.step--;
    },

    errorMessage(type) {
      let isValid = true;
      if (type === "name") {
        isValid =
          !this.$v.userForm.name.required && this.$v.userForm.name.$dirty;
      }
      if (type === "city") {
        isValid =
          !this.$v.deliveryForm.city.required &&
          this.$v.deliveryForm.city.$dirty;
      }
      if (type === "street") {
        isValid =
          !this.$v.deliveryForm.street.required &&
          this.$v.deliveryForm.street.$dirty;
      }
      if (type === "building") {
        isValid =
          !this.$v.deliveryForm.building.required &&
          this.$v.deliveryForm.building.$dirty;
      }

      return isValid ? "Поле не должно быть пустым" : "";
    },

    checkDelivery() {
      this.isDelivery = !this.isDelivery;
      this.deliveryForm = this.clearDelivery();
      this.deliveryId = 0;
    },

    resetDelivery() {
      this.deliveryForm = this.clearDelivery();
      this.deliveryId = 0;
    },

    clearDelivery() {
      return {
        city: "",
        street: "",
        building: "",
        suite: "",
        name: "" // @todo named deliveries address
      };
    },

    validatePhone(e) {
      this.userForm.phoneValid = e.isValid;
    },

    applyPromo() {
      axios
        .get("/promo/" + this.cartId + "/" + this.promoCode)
        .then(res => {
          if (res.data.sale > 0) {
            this.promoSale = res.data.sale;
            this.sum = this.sum * ((100 - this.promoSale) / 100);
            this.promoError = false;
            this.promoId = res.data.id;
          } else {
            this.promoError = true;
          }
          console.log(res);
        })
        .catch(error => {
          this.promoError = true;
          console.log(error);
        });
    },

    getBonus() {
      axios
        .get("/bonus/" + this.auth_user.id)
        .then(res => {
          // If bonus exist and have not applied yet
          if (res.data.bonus > 0 && !this.bonusApplied) {
            this.bonus = res.data.bonus;
            this.sum = this.sum * ((100 - this.bonus) / 100);
          }
          this.bonusApplied = true;
        })
        .catch(error => {
          console.log(error);
        });
    },

    submit() {
      let data = {
        cart_id: this.cartId,
        delivery_id: this.deliveryId,
        payment_method_id: this.paymentMethod,
        promo_id: this.promoId,
        card: this.cardText
      };

      console.log(data);

      axios
        .post("/order", data)
        .then(res => {
          localStorage.removeItem("cart_id");
          localStorage.removeItem("added");
          this.showConfirmModal = true;
          this.submited = true;
        })
        .catch(error => {
          console.log(error);
        });
    },

    smsSend() {
      let data = {
        phone: this.userForm.phone
      };

      axios
        .post("/user/confirmation", data)
        .then(res => {
          console.log(res);
          if (res.data.success) {
            this.isSent = true;
          } else {
            this.isSent = false;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },

    confirm() {
      let data = {
        code: this.confirmCode,
        phone: this.userForm.phone
      };

      axios
        .post("/user/confirmation/try", data)
        .then(res => {
          console.log(res);
          if (res.data.success) {
            this.isConfirmed = true;
          } else {
            this.isConfirmed = false;
            this.smsError = true;
          }
        })
        .catch(error => {
          this.smsError = true;
          console.log(error);
        });
    },

    close() {
      this.showConfirmModal = false;
      setTimeout(() => {
        window.location = "/";
      }, 1000);
    }
  }
};
</script>