<template>
  <div class="row">
    <div class="col-lg-6">
      <div id="view-details">
        <div class="details-price-box">{{ price }} &#8381;</div>

        <agile class="main" ref="main" :options="options1" :as-nav-for="asNavFor1">
          <div
            class="slide"
            v-for="(slide, index) in slides"
            :key="index"
            :class="`slide--${index}`"
          >
            <img :src="slide.path" />
          </div>
        </agile>
        <agile
          v-if="slides.length > 1"
          class="thumbnails"
          ref="thumbnails"
          :options="options2"
          :as-nav-for="asNavFor2"
        >
          <div
            class="slide slide--thumbniail"
            v-for="(slide, index) in slides"
            :key="index"
            :class="`slide--${index}`"
            @click="$refs.thumbnails.goTo(index)"
          >
            <img :src="slide.path" />
          </div>
          <template slot="prevButton">
            <i class="fas fa-chevron-left"></i>
          </template>
          <template slot="nextButton">
            <i class="fas fa-chevron-right"></i>
          </template>
        </agile>
      </div>
    </div>

    <div class="col-lg-6 text-center">
      <h1 class="font-secondary big medium pt-4">{{ item.name }}</h1>
      <p class="description">{{ item.description }}</p>
      <button
        v-if="!added"
        type="button"
        class="aroma-button px-4"
        @click="addToCart(item.id)"
      >Заказать</button>
      <a v-else :href="'/cart'">
        <button class="aroma-button added p-2 mt-2">Перейти в корзину</button>
      </a>
      <br />
      <p class="font-secondary small regular pt-4">
        С каждым букетом в подарок идет
        <a
          href="javascript:void(0);"
          data-tooltip="Оформите заказ, чтобы добавить собственный текст к Открытке!"
        >открытка с Вашим пожеланием!</a>
      </p>
      <p class="font-secondary small regular">
        Закажите
        <a href="/delivery">Доставку на дом</a>, это удобней и дешевле, чем Вы думаете!
      </p>
    </div>
  </div>
</template>
<style>
#view-details {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: 0 auto;
  max-width: 900px;
  padding: 30px 0px;
}

#view-details .main {
  margin-bottom: 10px;
}

#view-details .thumbnails {
  margin: 0 -5px;
  width: calc(100% + 10px);
}

#view-details .agile__nav-button {
  background: transparent;
  border: none;
  color: #ccc;
  cursor: pointer;
  font-size: 24px;
  transition-duration: 0.3s;
}

#view-details .thumbnails .agile__nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#view-details .thumbnails .agile__nav-button--prev {
  left: -45px;
}

#view-details .thumbnails .agile__nav-button--next {
  right: -45px;
}

#view-details .agile__nav-button:hover {
  color: #888;
}

#view-details .agile__dot {
  margin: 0 10px;
}

#view-details .agile__dot button {
  background-color: #eee;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
  width: 10px;
}

#view-details .agile__dot--current button,
.agile__dot:hover button {
  background-color: #888;
}

#view-details .slide {
  align-items: center;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
}

#view-details .slide--thumbniail {
  cursor: pointer;
  padding: 0 5px;
  transition: opacity 0.3s;
}

#view-details .slide--thumbniail:hover {
  opacity: 0.75;
}

#view-details .slide img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.description {
  font-family: inherit;
  font-size: 1.2em;
  text-align: justify;
}
</style>

<script>
import { VueAgile } from "vue-agile";

export default {
  components: {
    agile: VueAgile
  },
  data() {
    return {
      added: false,
      asNavFor1: [],
      asNavFor2: [],
      options1: {
        dots: false,
        fade: true,
        navButtons: false
      },

      options2: {
        autoplay: true,
        centerMode: true,
        dots: false,
        navButtons: false,
        slidesToShow: 3,
        responsive: [
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 3,
              autoplaySpeed: 1700
            }
          },

          {
            breakpoint: 300,
            settings: {
              navButtons: true,
              autoplaySpeed: 3000
            }
          }
        ]
      }
    };
  },
  props: {
    slides: Array,
    price: Number,
    item: Object
  },
  mounted() {
    this.asNavFor1.push(this.$refs.thumbnails);
    this.asNavFor2.push(this.$refs.main);
    // this.slides = this.slides.map((slide) =>  { "/storage/" + slide.path });
    console.log(this.slides);
  },

  methods: {
    addToCart(id) {
      this.user = this.$cookie.get("user") ? this.$cookie.get("user") : null;
      axios
        .post("/cart", {
          item_id: id,
          user: this.user,
          cart_id:
            localStorage.getItem("cart_id") !== null
              ? localStorage.getItem("cart_id")
              : null
        })
        .then(res => {
          if (res.data.success) {
            if (res.data.data.temp !== null) {
              this.user = res.data.data.temp;
              this.$cookie.set("user", res.data.data.temp);
            }

            localStorage.setItem("cart_id", res.data.data.id);
            // Mark this item added for button show
            this.added = true;
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>
