<template>
  <div class="col-lg-12">
    <div class="form-group">
      <vue-phone-number-input
        v-model="$v.phone.$model"
        no-country-selector
        name="phone"
        :translations="translations"
        class="font-primary"
      />
    </div>

    <div class="form-group font-primary">
      <input type="password" name="password" class="form-control" placeholder="Введите пароль" />
    </div>
  </div>
</template>

<script>
import { required, minLength } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      phone: "",
      translations: {
        phoneNumberLabel: "Введите номер",
        example: "Пример"
      }
    };
  },
  validations: {
    phone: { required, minLength: minLength(13) }
  },
  methods: {}
};
</script>
