<template>
  <div>
    <v-navigation-drawer v-model="drawer" clipped app overflow>
      <MenuComponent></MenuComponent>
    </v-navigation-drawer>

    <v-app-bar clipped-left app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>{{ name }}</v-toolbar-title>
      <v-spacer />
      <v-menu bottom left>
        <template v-slot:activator="{ on }">
          <v-btn dark icon v-on="on">
            <v-avatar color="indigo">
              <v-icon dark>mdi-account-circle</v-icon>
            </v-avatar>
          </v-btn>
        </template>

        <v-list>
          <v-list-item @click="account">
            <v-list-item-title>Account</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <ThemeComponent></ThemeComponent>
          </v-list-item>
          <v-list-item @click="logout">
            <v-list-item-title>LogOut</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <router-view />
      </v-container>
    </v-main>

    <v-footer app>
      <span class="px-4">&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </div>
</template>

<script>
import MenuComponent from "../components/MenuComponent.vue";
import ThemeComponent from "../components/ThemeComponent.vue";

export default {
  components: {
    MenuComponent,
    ThemeComponent,
  },
  data: () => ({
    drawer: null,
    name: process.env.APP_NAME
  }),
  mounted() {
    if (localStorage.getItem("theme")) {
      this.$vuetify.theme.dark =
        localStorage.getItem("theme") === "false" ? false : true;
    }
  },
  methods: {
    logout() {
      this.$auth.logout({
        makeRequest: true,
        redirect: { name: "Login" },
      });
    },
    account() {
      if (this.$route.name !== "Account") {
        this.$router.push({ name: "Account" });
      }
    },
  },
};
</script>
