<template>
  <v-data-table
    :headers="headers"
    :items="categories"
    :items-per-page="10"
    class="elevation-1 col-lg-6"
  >
    <template v-slot:top @click:outside="close">
      <v-toolbar flat>
        <v-toolbar-title>Категории</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>

        <v-dialog v-model="dialog" max-width="500px" @click:outside="close">
          <template v-slot:activator="{ on }">
            <v-btn color="success" dark v-on="on">Добавить</v-btn>
          </template>
          <v-card>
            <v-form v-on:submit.prevent="save" v-model="valid" ref="form">
              <v-card-title>
                <span class="headline">Новая категория</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field
                        v-model="editedCategory.name"
                        :rules="nameRules"
                        label="Название"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close"
                  >Завершить</v-btn
                >
                <v-btn
                  color="blue darken-1"
                  text
                  @click="save"
                  :disabled="!valid"
                  >Добавить</v-btn
                >
              </v-card-actions>
            </v-form>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>

    <template v-slot:[`item.actions`]="{ item }">
      <v-icon small class="mr-2" @click="editCategory(item)">mdi-pencil</v-icon>
      <v-icon
        small
        @click="deleteCategory(item)"
        v-if="$auth.check('superadmin')"
        >mdi-delete</v-icon
      >
    </template>
  </v-data-table>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  data: () => {
    return {
      valid: false,
      dialog: false,
      search: "",
      editedIndex: -1,

      headers: [
        {
          text: "Id",
          align: "start",
          value: "id",
        },
        { text: "Название", value: "name" },
        { text: "", value: "actions" },
      ],

      editedCategory: {
        id: "",
        name: "",
      },

      defaultCategory: {
        id: "",
        name: "",
      },
      nameRules: [(v) => !!v || "Поле Имя категории должно быть заполненно"],
    };
  },

  mounted() {
    this.$store.dispatch("categories/fetchCategories");
  },

  methods: {
    editCategory(category) {
      this.editedIndex = this.categories.indexOf(category);
      this.editedCategory = Object.assign({}, category);
      this.dialog = true;
    },

    deleteCategory(category) {
      if (confirm("Удалить этот товар?")) {
        this.$store.dispatch("categories/deleteCategory", category);
      }
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedCategory = Object.assign({}, this.defaultCategory);
        this.editedIndex = -1;
        this.$refs.form.resetValidation();
      }, 300);
    },

    save() {
      const index = this.editedIndex;
      if (index > -1) {
        this.$store.dispatch("categories/updateCategory", {
          category: this.editedCategory,
          index,
        });
      } else {
        this.$store.dispatch("categories/storeCategory", {
          category: this.editedCategory,
        });
      }
      this.close();
    },
  },

  computed: {
    ...mapGetters("categories", ["categories"]),
  },
};
</script>
