<template>
  <v-data-table :headers="headers" :items="items" :items-per-page="10" class="elevation-1">
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Товары</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>

        <v-dialog v-model="dialog" max-width="70%">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on">Добавить товар</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">Редактирование</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field v-model="item.name" label="Название"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-select
                      v-model="item.categories"
                      :items="filteredCategories"
                      @change="test"
                      label="Категории"
                      multiple
                      deletable-chips
                      chips
                    ></v-select>
                    <v-text-field
                      type="text"
                      class="form-control"
                      @input="onChange"
                      @focus="onChange"
                      v-model="search"
                      @keyup.down="onArrowDown"
                      @keyup.up="onArrowUp"
                      @keydown.enter="onEnter"
                    ></v-text-field>
                    <small class="form-text text-muted">Возможен выбор нескольких вариантов</small>
                    <ul id="autocomplete-results" v-show="isOpen" class="autocomplete-results">
                      <li class="loading" v-if="isLoading">Загружаем...</li>
                      <li
                        v-else
                        v-for="(result, i) in results"
                        :key="i"
                        @click="setResult(result)"
                        class="autocomplete-result"
                        :class="{ 'is-active': i === arrowCounter }"
                      >{{ result.text }}</li>
                    </ul>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field v-model="item.price" label="Цена"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field v-model="item.description" label="Описание"></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Отмена</v-btn>
              <v-btn color="blue darken-1" text @click="save">Сохранить</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="gallery" max-width="70%">
          <v-card>
            <v-card-title>
              <span class="headline">Добавить галерею к {{ item.name }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="12" md="12">
                    <v-file-input
                      multiple
                      @change="image($event)"
                      v-model="images"
                      label="Фото"
                      accept="image/*"
                    ></v-file-input>
                  </v-col>

                  <v-col cols="12" sm="6" md="4" v-for="photo in photos" :key="photo.path">
                    <v-img :src="apiUrl + photo.path" aspect-ratio="1" class="grey lighten-2">
                      <v-btn color="error" fab x-small dark @click="deleteImage(photo)">
                        <v-icon>mdi-window-close</v-icon>
                      </v-btn>
                    </v-img>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="gallery = false">Выход</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.categories="{ item }">
      <v-chip
        class="mx-1"
        color="green"
        text-color="white"
        v-for="(category, index) in item.humanCategories"
        v-bind:key="index"
      >{{ category }}</v-chip>
    </template>
    <template v-slot:item.active="{ item }">
      <v-col cols="12" sm="6" md="4">
        <v-checkbox color="success" v-model="item.active" label @change="setActive(item)"></v-checkbox>
      </v-col>
    </template>

    <template v-slot:item.actions="{ item }">
      <v-icon class="mr-3" @click="addGallery(item)">mdi-camera-enhance-outline</v-icon>
      <v-icon class="mr-3" @click="editItem(item)">mdi-pencil</v-icon>
      <v-icon @click="deleteItem(item)">mdi-delete</v-icon>
    </template>
  </v-data-table>
</template>
<script>
import axios from "axios";
export default {
  data: () => {
    return {
      dialog: false,
      gallery: false,
      search: "",
      items: [],
      categories: [],
      images: [], //очистка поля с картинками после закрытия модального окна
      photos: [],
      itemId: 0,
      categoryName: "", // поле для поиска
      filteredCategories: [],
      index: -1,
      isLoading: false,
      results: [],
      arrowCounter: 0,

      headers: [
        { text: "Название", value: "name" },
        { text: "Категории", value: "categories" },
        { text: "Цена", value: "price" },
        { text: "Описание", value: "description" },
        { text: "Доступен", value: "active" },
        { text: "", value: "actions" }
      ],
      item: {
        name: "",
        extra: 1,
        categories: [],
        price: 0,
        description: ""
      },
      isOpen: false,
      apiUrl: axios.defaults.publicURL
    };
  },

  mounted() {
    this.getItems();
    this.getCategories();
  },

  methods: {
    pushIfNotExist(category) {
      if (!this.item.categories.some(e => e === category.value)) {
        // Add also this id to form to send
        this.item.categories.push(category.value);
      }
    },
    onChange() {
      // Let's search our flat array
      this.filterResults();
      this.isOpen = true;
    },

    filterResults() {
      // first uncapitalize all the things
      this.results = this.filteredCategories.filter(category => {
        return (
          category.text.toLowerCase().indexOf(this.search.toLowerCase()) > -1
        );
      });
    },
    setResult(result) {
      this.search = "";
      this.isOpen = false;
      this.pushIfNotExist(result);
    },
    onArrowDown() {
      if (this.arrowCounter < this.results.length) {
        this.arrowCounter = this.arrowCounter + 1;
      }
    },
    onArrowUp() {
      if (this.arrowCounter > 0) {
        this.arrowCounter = this.arrowCounter - 1;
      }
    },
    onEnter() {
      let itemObject = JSON.parse(
        JSON.stringify(this.results[this.arrowCounter])
      );
      this.search = "";
      this.isOpen = false;
      this.arrowCounter = -1;
      this.pushIfNotExist(itemObject);
    },
    getItems() {
      axios
        .get("/items/list/extras")
        .then(res => {
          this.items = res.data.map(item => {
            return {
              ...item,
              humanCategories: item.categories.map(category => category.name),
              categories: item.categories.map(category => category.id)
            };
          });
        })
        .catch(error => {
          console.log(error);
        })
        .finally(() => (this.loading = false));
    },
    getCategories() {
      axios
        .get("/categories/list")
        .then(response => {
          this.categories = response.data;
          this.filteredCategories = this.categories.map(category => {
            let mutated = new Object();
            mutated.text = category.name;
            mutated.value = category.id;
            return mutated;
          });
        })
        .catch(error => {
          console.log(error);
        })
        .finally(() => (this.loading = false));
    },
    editItem(item) {
      console.log(item);

      this.index = this.items.indexOf(item);
      this.item = Object.assign({}, item);
      this.dialog = true;
    },
    addGallery(item) {
      this.item = item;

      axios
        .get("/photos/item/" + this.item.id)
        .then(response => {
          this.photos = response.data;
        })
        .catch(error => {
          console.log(error);
        });
      this.gallery = true;
    },
    deleteItem(item) {
      if (confirm("Удалить этот товар?")) {
        axios
          .delete(`items/${item.id}`)
          .then(() => {
            const index = this.items.indexOf(item);
            this.items.splice(index, 1);
          })
          .catch(error => {
            console.log(error);
          })
          .finally(() => (this.loading = false));
      }
    },

    close() {
      this.dialog = false;
      this.images = [];
      this.categoryName = "";
      setTimeout(() => {
        this.item = Object.assign({}, this.defaultItem);
        this.index = -1;
      }, 300);
    },
    test() {
      console.log(this.item.categories);
    },
    save() {
      const index = this.index;
      if (index > -1) {
        // Добавить валидацию
        axios
          .post(`items/${this.item.id}/update`, this.item)
          .then(res => {
            Object.assign(this.items[index], {
              ...res.data.item,
              humanCategories: res.data.item.categories.map(
                category => category.name
              ),
              categories: res.data.item.categories.map(category => category.id)
            });
          })
          .catch(error => {
            console.log(error);
          })
          .finally(() => (this.loading = false));
      } else {
        // Добавить валидацию данных
        axios
          .post(`/items/store`, this.item)
          .then(res => {
            this.items.push({
              ...res.data.item,
              humanCategories: res.data.item.categories.map(
                category => category.name
              ),
              categories: res.data.item.categories.map(category => category.id)
            });
          })
          .catch(error => {
            console.log(error);
          })
          .finally(() => (this.loading = false));
      }
      this.close();
    },
    image(event) {
      let uploads = [];

      if (!event.length) {
        this.photos = [];
      }

      var vm = this;

      event.forEach(image => {
        let reader = new FileReader();
        reader.readAsDataURL(image);
        reader.onloadend = () => {
          uploads.push({ path: reader.result });

          let data = { item_id: this.item.id, photos: uploads };

          axios.post("/photos/store", data).then(function(response) {
            let uploaded = response.data.data;

            uploaded.forEach(image => {
              vm.photos.push(image);
            });
          });
        };
      });
    },
    deleteImage(photo) {
      axios
        .delete(`photos/${photo.id}`)
        .then(() => {
          let index = this.photos.indexOf(photo);
          this.photos.splice(index, 1);
        })
        .catch(error => {
          console.log(error);
        });
    },
    setActive(item) {
      axios
        .get(`items/${item.id}/active`)
        .then(() => {
          // let index = this.photos.indexOf(photo);
          // this.photos.splice(index, 1);
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>
<style scoped>
.autocomplete-results {
  padding: 0;
  margin: 0;
  border: 1px solid #eeeeee;
  height: 120px;
  overflow: auto;
  width: 100%;
}

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 4px 12px;
  cursor: pointer;
}

.autocomplete-result.is-active,
.autocomplete-result:hover {
  background-color: #4aae9b;
  color: white;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.error {
  border-color: red;
}
</style>
