<template>
  <v-data-table
    :headers="headers"
    :items="items"
    :items-per-page="5"
    :search="searchGlobal"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Товары</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-col md="3">
          <v-text-field
            v-model="searchGlobal"
            prepend-icon="mdi-search-web"
            label="Искать..."
            single-line
            hide-details
          ></v-text-field>
        </v-col>

        <v-spacer></v-spacer>

        <v-dialog v-model="dialog" max-width="70%" @click:outside="close">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on"
              >Добавить товар</v-btn
            >
          </template>

          <v-form v-model="valid" ref="form">
            <v-card>
              <v-card-title>
                <span v-if="index > 0" class="headline">Редактирование</span>
                <span v-else class="headline">Добавить товар</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-select
                        v-model="item.categories"
                        :options="categories"
                        label="name"
                        multiple
                      ></v-select>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="item.name"
                        :rules="nameRules"
                        label="Название"
                      ></v-text-field>
                      <v-text-field
                        v-model="item.description"
                        :rules="descriptionRules"
                        label="Описание"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="item.price"
                        type="number"
                        :rules="priceRules"
                        label="Цена"
                      ></v-text-field>
                      <v-text-field
                        v-model="item.composition"
                        :rules="compositionRules"
                        label="Состав"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Отмена</v-btn>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="save"
                  :disabled="!valid"
                  >Сохранить</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-form>
        </v-dialog>

        <v-dialog v-model="gallery" max-width="70%">
          <v-card>
            <v-card-title>
              <span class="headline">Добавить галерею к {{ item.name }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="12" md="12">
                    <v-file-input
                      multiple
                      @change="image($event)"
                      v-model="images"
                      label="Фото"
                      accept="image/*"
                    ></v-file-input>
                  </v-col>

                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                    v-for="photo in photos"
                    :key="photo.path"
                  >
                    <v-img
                      :src="apiUrl + photo.path"
                      aspect-ratio="1"
                      class="grey lighten-2"
                    >
                      <v-btn
                        color="error"
                        fab
                        x-small
                        dark
                        @click="deleteImage(photo)"
                      >
                        <v-icon>mdi-window-close</v-icon>
                      </v-btn>
                    </v-img>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="gallery = false"
                >Выход</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>

    <template v-slot:[`item.categories`]="{ item }">
      <v-chip
        class="ma-2"
        color="green"
        small
        text-color="white"
        v-for="(category, index) in item.categories"
        v-bind:key="index"
        >{{ category.name }}</v-chip
      >
    </template>

    <template v-slot:[`item.active`]="{ item }">
      <v-col cols="12" sm="6" md="4">
        <v-checkbox
          color="success"
          v-model="item.active"
          label
          @change="setActive(item)"
        ></v-checkbox>
      </v-col>
    </template>

    <template v-slot:[`item.actions`]="{ item }">
      <v-icon class="mr-3" @click="addGallery(item)"
        >mdi-camera-enhance-outline</v-icon
      >
      <v-icon class="mr-3" @click="editItem(item)">mdi-pencil</v-icon>
      <v-icon @click="deleteItem(item)">mdi-delete</v-icon>
    </template>

  </v-data-table>
</template>
<script>
import axios from "axios";
import { mapGetters } from "vuex";
export default {
  data: () => {
    return {
      dialog: false,
      gallery: false,
      valid: false,
      searchGlobal: "",
      search: "",
      images: [], //очистка поля с картинками после закрытия модального окна
      photos: [],
      itemId: 0,
      categoryName: "", // поле для поиска
      index: -1,
      isLoading: false,
      results: [],
      arrowCounter: 0,

      headers: [
        { text: "Название", value: "name", filterable: true },
        { text: "Категории", value: "categories" },
        { text: "Цена", value: "price" },
        { text: "Состав", value: "composition" },
        { text: "Описание", value: "description" },
        { text: "Доступен", value: "active" },
        { text: "", value: "actions" },
      ],
      item: {
        extra: 0,
        name: "",
        categories: [],
        price: 0,
        composition: "",
        description: "",
      },
      defaultItem: {
        extra: 0,
        name: "",
        categories: [],
        price: 0,
        composition: "",
        description: "",
      },
      isOpen: false,
      apiUrl: axios.defaults.publicURL,
      nameRules: [(v) => !!v || "Поле Имя товара должно быть заполненно"],
      categoryRules: [(v) => !!v || "Выберите хотя бы одну категорию"],
      priceRules: [(v) => !!v || "Поле Цена должно быть заполненно"],
      compositionRules: [
        (v) => !!v || "Поле Композиция должно быть заполненно",
      ],
      descriptionRules: [
        (v) => !!v || "Поле Описание товара должно быть заполненно",
      ],
    };
  },

  mounted() {
    this.$store.dispatch("items/fetchItems");
    this.$store.dispatch("categories/fetchCategories");
  },

  computed: {
    ...mapGetters("items", ["items"]),
    ...mapGetters("categories", ["categories", "filteredCategories"]),
  },

  methods: {
    editItem(item) {
      this.index = this.items.indexOf(item);
      this.item = Object.assign({}, item);
      this.dialog = true;
    },

    addGallery(item) {
      this.item = item;

      axios.get("/photos/item/" + item.id).then((response) => {
        this.photos = response.data;
      });
      this.gallery = true;
    },

    deleteItem(item) {
      if (confirm("Удалить этот товар?")) {
        this.$store.dispatch("items/deleteItem", item);
      }
    },

    close() {
      this.dialog = false;
      this.images = [];
      this.categoryName = "";
      setTimeout(() => {
        this.item = Object.assign({}, this.defaultItem);
        this.index = -1;
        this.$refs.form.resetValidation();
      }, 300);
    },

    save() {
      const index = this.index;
      if (index > -1) {
        this.$store.dispatch("items/updateItem", { item: this.item, index });
      } else {
        this.$store.dispatch("items/storeItem", { item: this.item });
      }
      this.close();
    },

    setActive(item) {
      const index = this.items.indexOf(item);
      this.$store.dispatch("items/setActive", { id: item.id, index });
    },

    image(event) {
      let uploads = [];

      if (!event.length) {
        this.photos = [];
      }

      event.forEach((image) => {
        let reader = new FileReader();
        reader.readAsDataURL(image);
        reader.onloadend = () => {
          uploads.push({ path: reader.result });

          let data = { item_id: this.item.id, photos: uploads };

          axios.post("/photos/store", data).then((response) => {
            let uploaded = response.data.data;

            uploaded.forEach((image) => {
              this.photos.push(image);
            });
          });
        };
      });
    },

    deleteImage(photo) {
      axios.delete(`photos/${photo.id}`).then(() => {
        let index = this.photos.indexOf(photo);
        this.photos.splice(index, 1);
      });
    },
  },
};
</script>
<style scoped>
.autocomplete-results {
  padding: 0;
  margin: 0;
  border: 1px solid #eeeeee;
  height: 120px;
  overflow: auto;
  width: 100%;
}

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 4px 12px;
  cursor: pointer;
}

.autocomplete-result.is-active,
.autocomplete-result:hover {
  background-color: #4aae9b;
  color: white;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.error {
  border-color: red;
}
</style>
