<template>
  <v-container fluid fill-height>
    <v-layout flex align-center justify-center>
      <v-flex xs12 sm4 elevation-6>
        <v-card>
          <v-card-title>Вход</v-card-title>
          <v-card-text class="pt-4">
            <v-alert type="error" v-if="error"
              >Неправильный логин или пароль</v-alert
            >
            <v-form ref="form" v-model="valid">
              <v-text-field
                label="Введите ваш e-mail адрес"
                v-model="form.body.email"
                :rules="emailRules"
                required
              ></v-text-field>
              <v-text-field
                label="Введите ваш пароль"
                v-model="form.body.password"
                min="5"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="showPassword = !showPassword"
                :type="!showPassword ? 'password' : 'text'"
                :rules="passwordRules"
                counter
                required
              ></v-text-field>

              <v-btn
                @click="login"
                :disabled="!valid"
                :class="{ 'blue darken-4 white--text': valid }"
                >Войти</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      valid: false,
      showPassword: false,
      error: false,
      form: {
        body: {
          email: "",
          password: "",
        },
        fetchUser: false,
        staySignedIn: true,
      },

      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      passwordRules: [(v) => !!v || "Password is required"],
    };
  },
  methods: {
    login() {
      this.$store.dispatch("auth/login", this.form).then(null, () => {
        this.error = true;
      });
    },
  },
};
</script>

<style scoped>
#login {
  width: 500px;
  border: 1px solid #cccccc;
  margin: auto;
  margin-top: 200px;
  padding: 20px;
}
</style>
