<template>
  <v-data-table
    :headers="headers"
    :items="orders"
    :items-per-page="20"
    class="elevation-1"
    calculate-widths
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Заказы</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>

        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn color="secondary" dark class="mb-2" v-on="on"
              >Создать заказ</v-btn
            >
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">Создать заказ</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-select
                    v-model="order.user.client"
                    :options="clients"
                    label="name"
                  ></v-select>
                </v-row>

                <v-row>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field
                      :disabled="clientAdded"
                      v-model="order.user.name"
                      label="Имя клиента"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field
                      :disabled="clientAdded"
                      v-model="order.user.phone"
                      label="Телефон"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    v-show="!clientAdded"
                    cols="12"
                    sm="12"
                    md="12"
                    class="text-center"
                  >
                    <v-btn color="blue darken-1" text @click="addClient"
                      >Добавить клиента</v-btn
                    >
                  </v-col>
                </v-row>

                <v-row v-show="clientAdded">
                  <v-col cols="12" sm="12" md="12">
                    <v-row
                      v-for="(item, index) in order.cart.items"
                      v-bind:key="index"
                    >
                      <v-card class="px-3 my-2" outlined>
                        <v-list-item-content>
                          <div class="overline mb-4">
                            {{ getItemPrice(item.item_id) * item.quantity }}
                            Р
                            <v-icon
                              class="float-right"
                              v-show="!itemsAdded"
                              small
                              @click="removeItem(item)"
                              >mdi-delete</v-icon
                            >
                          </div>

                          <v-list-item-title class="mb-1">{{
                            getItemName(item.item_id)
                          }}</v-list-item-title>

                          <v-list-item-subtitle>
                            <v-text-field
                              type="number"
                              v-model="item.quantity"
                              :disabled="itemsAdded"
                              label="Количество"
                              dense
                              hide-details
                              outlined
                              color="secondary"
                              item-color="secondary"
                              class="mt-2 mb-2"
                            ></v-text-field>
                          </v-list-item-subtitle>
                        </v-list-item-content>
                      </v-card>
                    </v-row>

                    <v-text-field
                      v-show="!itemsAdded"
                      type="text"
                      class="form-control"
                      label="Найти букет"
                      @input="onChange"
                      v-model="search"
                      @focus="onChange"
                      @keyup.down="onArrowDown"
                      @keyup.up="onArrowUp"
                      @keydown.enter="onEnter"
                    ></v-text-field>

                    <small v-show="!addItems" class="form-text text-muted"
                      >Возможен выбор нескольких вариантов</small
                    >

                    <ul
                      id="autocomplete-results"
                      v-show="isOpen"
                      class="autocomplete-results"
                    >
                      <li class="loading" v-if="isLoading">Загружаем...</li>
                      <li
                        v-else
                        v-for="(result, i) in results"
                        :key="i"
                        @click="setResult(result)"
                        class="autocomplete-result"
                        :class="{
                          'is-active': i === arrowCounter,
                        }"
                      >
                        {{ result.text }}
                      </li>
                    </ul>
                  </v-col>
                  <v-col cols="12" sm="12" md="12" class="text-center">
                    <v-btn
                      v-show="!itemsAdded"
                      :disabled="!order.cart.items.length"
                      color="blue darken-1"
                      text
                      @click="addItems"
                      >Добавить товары</v-btn
                    >
                    <v-text-field
                      disabled
                      label="Сумма заказа"
                      v-show="itemsAdded"
                      v-model="order.price"
                      filled
                      dense
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row v-show="clientAdded">
                  <v-col sm="12" md="12" class="text-center">
                    <v-checkbox
                      color="success"
                      v-model="deliveryRequired"
                      label="Нужна доставка"
                    ></v-checkbox>
                  </v-col>
                  <v-col cols="12" sm="12" md="12" class="text-center">
                    <v-card
                      class="px-3 my-2"
                      v-show="deliveryRequired"
                      outlined
                    >
                      <v-list-item-content ref="deliveryForm">
                        <div class="overline mb-4">Введите адрес</div>
                        <v-list-item-title class="mb-1">
                          <v-text-field
                            label="Город"
                            :disabled="deliveryAdded"
                            v-model="order.delivery.city"
                            ref="city"
                            :rules="rulesDelivery"
                            filled
                            dense
                          ></v-text-field>
                          <v-text-field
                            label="Улица"
                            :disabled="deliveryAdded"
                            v-model="order.delivery.street"
                            :rules="rulesDelivery"
                            ref="street"
                            filled
                            dense
                          ></v-text-field>
                          <v-text-field
                            label="Дом"
                            :disabled="deliveryAdded"
                            v-model="order.delivery.building"
                            :rules="rulesDelivery"
                            ref="building"
                            filled
                            dense
                          ></v-text-field>
                          <v-text-field
                            :disabled="deliveryAdded"
                            label="Квартира"
                            v-model="order.delivery.suite"
                            filled
                            type="number"
                            dense
                          ></v-text-field>
                        </v-list-item-title>
                        <v-list-item-subtitle>
                          <v-btn
                            v-show="!deliveryAdded"
                            color="blue darken-1"
                            text
                            @click="addDelivery"
                            >Добавить</v-btn
                          >
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-card>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Отмена</v-btn>
              <v-btn
                color="blue darken-1"
                :disabled="!itemsAdded"
                text
                @click="addOrder"
                >Добавить</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>

    <template v-slot:[`item.photo`]="{ item }">
      <div v-for="(product, index) in item.cart.items" v-bind:key="index">
        <v-chip class="ma-2" small color="purple darken-1">
          <a :href="apiUrl + product.photos[0]" target="_blank">
            {{ product.name }}
          </a>
        </v-chip>
      </div>
    </template>

    <template v-slot:[`item.user`]="{ item }">{{
      item.cart.user || null
    }}</template>

    <template v-slot:[`item.phone`]="{ item }">{{
      item.cart.user || null
    }}</template>

    <template v-slot:[`item.delivery`]="{ item }">
      {{ showDelivery(item.delivery) }}
    </template>

    <template v-slot:[`item.bonus`]="{ item }">
      <span v-if="item.bonus !== null">{{ item.bonus.bonus }}%</span>
    </template>

    <template v-slot:[`item.promo`]="{ item }">
      <span v-if="item.cart.promo !== null">{{ item.cart.promo.sale }}%</span>
    </template>

    <template v-slot:[`item.status`]="{ item }">
      <v-select
        v-model="item.status"
        :options="statuses"
        @input="changeStatus(item)"
        :clearable="false"
        label="text"
        :disabled="
          item.status.status === 'done' || item.status.status === 'cancel'
        "
      ></v-select>
    </template>

    <template v-slot:[`item.created_at`]="{ item }">
      {{ new Date(item.created_at).toLocaleString() }}
    </template>

    <template v-slot:[`item.actions`]="{ item }">
      <div>
        <v-icon small class="mr-2" @click="editOrder(item)">mdi-pencil</v-icon>
        <v-icon small @click="deleteOrder(item)">mdi-delete</v-icon>
      </div>
    </template>
  </v-data-table>
</template>
<script>
import axios from "axios";
import { mapGetters } from "vuex";
export default {
  data: () => {
    return {
      apiUrl: axios.defaults.publicURL,
      dialog: false,
      search: "",
      quantity: Array.from(Array(10).keys()),
      deliveryRequired: false,

      order: {
        price: 0,
        user: {
          client: 1,
          phone: "",
          name: "",
        },
        cart: {
          id: 0,
          items: [],
        },
        delivery: {
          id: null,
          city: "",
          street: "",
          building: "",
          suite: "",
        },
      },

      clients: [
        { name: "Оффлайн", value: 1 },
        { name: "Instagram", value: 2 },
        { name: "Вконтакте", value: 3 },
      ],

      headers: [
        { text: "Товар", value: "photo" },
        { text: "Клиент", value: "user" },
        { text: "Номер телефона", value: "phone" },
        { text: "Адрес", value: "delivery" },
        { text: "Бонус", value: "bonus" },
        { text: "Промокод", value: "promo" },
        { text: "Сумма (Р)", value: "price" },
        { text: "", value: "status" },
        { text: "Дата/время", value: "created_at" },
        { text: "", value: "actions" },
      ],

      clientAdded: false,
      itemsAdded: false,
      deliveryAdded: false,

      statuses: [
        { id: 1, status: "new", text: "Новый" },
        { id: 2, status: "cancel", text: "Отменен" },
        { id: 3, status: "pending", text: "Ожидает оплаты" },
        { id: 4, status: "paid", text: "Оплачен" },
        { id: 5, status: "progress", text: "В работе" },
        { id: 6, status: "done", text: "Завершен" },
      ],

      // For dynamic select search
      results: [],
      isOpen: false,
      isLoading: false,
      arrowCounter: 0,

      rulesDelivery: [(value) => !!value || "Обязательно для заполнения"],
      deliveryHasErrors: false,
    };
  },

  mounted() {
    this.$store.dispatch("orders/fetchOrders");
    this.$store.dispatch("items/fetchItems");
  },

  methods: {
    checkoutSend(item) {
      console.log(item);
    },

    changeStatus(order) {
      const index = this.orders.indexOf(order);
      this.$store.dispatch("orders/changeOrderStatus", { order, index });
    },

    deleteOrder(order) {
      if (confirm("Удалить этот товар?")) {
        this.$store.dispatch("orders/deleteOrder", order);
      }
    },

    addClient() {
      this.clientAdded = true;
    },

    addItems() {
      this.itemsAdded = true;
      this.setOrderPrice();
    },

    addDelivery() {
      this.deliveryAdded = true;
    },

    addOrder() {
      this.$store.dispatch("orders/storeOrder", this.order);
      this.close();
    },

    validateDelivery() {
      this.deliveryHasErrors = false;
      Object.keys(this.order.delivery).forEach((f) => {
        if (this.$refs[f] !== undefined) {
          this.$refs[f].validate(true);
          if (!this.$refs[f].valid) this.deliveryHasErrors = true;
        }
      });
    },

    setOrderPrice() {
      for (let i = 0; i < this.order.cart.items.length; i++) {
        this.order.price +=
          this.getItemPrice(this.order.cart.items[i].item_id) *
          this.order.cart.items[i].quantity;
      }
    },

    getItemName(itemID) {
      return this.items.find((x) => x.id === itemID).name;
    },

    getItemPrice(itemID) {
      return this.items.find((x) => x.id === itemID).price;
    },

    editOrder(order) {
      console.log(order);
      this.index = this.orders.indexOf(order);
      this.order = Object.assign({}, order);
      this.dialog = true;
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedOrder = Object.assign({}, this.defaultOrder);
        this.editedIndex = -1;
      }, 300);
    },

    showDelivery(delivery) {
      return `г. ${delivery.city},  ул. ${delivery.street},  д. ${delivery.building},  кв. ${delivery.suite}`;
    },

    // ! Functionality for dynamic select search
    pushIfNotExist(item) {
      if (!this.order.cart.items.some((e) => e.item_id === item.value)) {
        this.order.cart.items.push({
          item_id: item.value,
          quantity: 1,
        });
      }
    },
    onChange() {
      // Let's search our flat array
      this.filterResults();
      this.isOpen = true;
    },

    filterResults() {
      // first uncapitalize all the things
      this.results = this.selectItems.filter((item) => {
        return item.text.toLowerCase().indexOf(this.search.toLowerCase()) > -1;
      });
    },
    setResult(result) {
      this.search = "";
      this.isOpen = false;
      this.pushIfNotExist(result);
    },
    onArrowDown() {
      if (this.arrowCounter < this.results.length) {
        this.arrowCounter = this.arrowCounter + 1;
      }
    },
    onArrowUp() {
      if (this.arrowCounter > 0) {
        this.arrowCounter = this.arrowCounter - 1;
      }
    },
    onEnter() {
      let itemObject = JSON.parse(
        JSON.stringify(this.results[this.arrowCounter]),
      );
      this.search = "";
      this.isOpen = false;
      this.arrowCounter = -1;
      this.pushIfNotExist(itemObject);
    },

    removeItem(item) {
      const index = this.order.cart.items.indexOf(item);
      this.order.cart.items.splice(index, 1);
    },
  },

  computed: {
    ...mapGetters("orders", ["orders"]),
    ...mapGetters("items", ["items", "selectItems"]),
  },
};
</script>
<style scoped>
.autocomplete-results {
  padding: 0;
  margin: 0;
  border: 1px solid #eeeeee;
  height: 120px;
  overflow: auto;
  width: 100%;
}

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 4px 12px;
  cursor: pointer;
}

.autocomplete-result.is-active,
.autocomplete-result:hover {
  background-color: #4aae9b;
  color: white;
}
a {
  color: white !important;
  text-decoration: none;
}
</style>
