<template>
  <v-data-table
    :headers="headers"
    :items="promos"
    :items-per-page="10"
    class="elevation-1 col-lg-6"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Промокоды</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>

        <v-dialog persistent v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn color="success" dark v-on="on">Добавить</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">Добавить промокод</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="12" md="12">
                    <v-text-field
                      v-model="promo.code"
                      label="Код"
                    ></v-text-field>
                    <v-text-field
                      v-model="promo.sale"
                      label="Скидка"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-menu
                      v-model="menu"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="promo.expiresDate"
                          label="Дата истечения"
                          prepend-icon="mdi-pencil"
                          readonly
                          @change="test"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="promo.expiresDate"
                        @input="menu = false"
                      ></v-date-picker>
                    </v-menu>
                    <v-menu
                      ref="menu"
                      v-model="timeMenu"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="promo.expiresTime"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="promo.expiresTime"
                          label="Время истечения"
                          prepend-icon="mdi-timer"
                          readonly
                          @change="test"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-time-picker
                        v-if="timeMenu"
                        v-model="promo.expiresTime"
                        full-width
                        @click:minute="$refs.menu.save(promo.expiresTime)"
                      ></v-time-picker>
                    </v-menu>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Завершить</v-btn>
              <v-btn color="blue darken-1" text @click="save">Добавить</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>

    <template v-slot:[`item.expires`]="{ item }">
      {{ new Date(item.expires).toLocaleString() }}
    </template>

    <template v-slot:[`item.actions`]="{ item }">
      <v-icon small class="mr-2" @click="editCategory(item)">mdi-pencil</v-icon>
      <v-icon small @click="deleteCategory(item)">mdi-delete</v-icon>
    </template>
  </v-data-table>
</template>
<script>
import axios from "axios";
export default {
  data: () => {
    return {
      dialog: false,
      search: "",
      promos: [],
      promoIndex: -1,

      headers: [
        {
          text: "ID",
          align: "start",
          value: "id",
        },
        { text: "Код", value: "code" },
        { text: "Скидка (%)", value: "sale" },
        { text: "Истекает", value: "expires" },
        { text: "", value: "actions" },
      ],
      promo: {
        id: "",
        code: "",
        sale: "",
        expiresDate: "",
        expiresTime: "",
      },
      default: {
        id: "",
        code: "",
        sale: "",
        expires: "",
      },
      modal: false,
      menu: false,
      timeMenu: false,
    };
  },

  setDefault() {
    return {
      id: "",
      code: "",
      sale: "",
      expiresDate: "",
      expiresTime: "",
    };
  },

  mounted() {
    this.getPromos();
  },

  methods: {
    test() {
      console.log(this.promo);
    },
    getPromos() {
      axios
        .get("/promo/list")
        .then((response) => {
          this.promos = response.data.promos;
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => (this.loading = false));
    },
    editCategory(category) {
      this.promoIndex = this.promos.indexOf(category);
      this.promo = Object.assign({}, category);
      this.dialog = true;
    },
    deleteCategory(category) {
      if (confirm("Удалить этот товар?")) {
        axios
          .delete(`categories/${category.id}`)
          .then((res) => {
            if (res.data.message == "Successfully destroy item") {
              const index = this.promos.indexOf(category);
              this.promos.splice(index, 1);
            }
          })
          .catch((error) => {
            console.log(error);
          })
          .finally(() => (this.loading = false));
      }
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.promo = Object.assign({}, this.default);
        this.promoIndex = -1;
      }, 300);
    },
    save() {
      const index = this.promoIndex;
      if (index > -1) {
        // Добавить валидацию
        axios
          .post(
            `categories/${this.editedCategory.id}/update`,
            this.editedCategory,
          )
          .then((res) => {
            Object.assign(this.promos[index], res.data.category);
          })
          .catch((error) => {
            console.log(error);
          })
          .finally(() => (this.loading = false));
      } else {
        // Добавить валидацию данных
        axios
          .post("/promo/store", this.promo)
          .then((res) => {
            this.promos.push(res.data);
          })
          .catch((error) => {
            console.log(error);
          });
      }
      this.close();
    },
    quickSave() {
      axios
        .post(`/categories/store`, this.editedCategory)
        .then((res) => {
          this.promos.push(res.data.category);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
