<template>
  <v-data-table
    :headers="headers"
    :items="webUsers"
    :items-per-page="5"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Users</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>

        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on"
              >Добавить пользователя</v-btn
            >
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">Update New user</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="user.name"
                      label="Имя"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="user.email"
                      label="Email"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="user.password"
                      label="Пароль"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="confirmation" max-width="500px">
          <v-card>
            <v-card-title>
              <span class="headline">Подтвердить номер</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="12" md="12">
                    <v-text-field
                      v-model="confirmCode"
                      label="Код из смс"
                    ></v-text-field>
                    <small class="text-danger" v-show="smsError"
                      >Неверный код</small
                    >
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Отмена</v-btn>
              <v-btn color="blue darken-1" text @click="confirm"
                >Проверить</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>

    <template v-slot:[`item.sms`]="{ item }">
      <v-btn color="primary" v-if="!isSent" @click="smsSend(item)" dark
        >Подтвердить</v-btn
      >
    </template>

    <template v-slot:[`item.created_at`]="{ item }">
      {{ new Date(item.created_at).toLocaleString() }}
    </template>

    <template v-slot:[`item.actions`]="{ item }">
      <v-icon small class="mr-2" @click="editUser(item)">mdi-pencil</v-icon>
      <v-icon small @click="deleteUser(item)">mdi-delete</v-icon>
    </template>
  </v-data-table>
</template>
<script>
import axios from "axios";
import { mapGetters } from "vuex";
export default {
  data: () => {
    return {
      dialog: false,
      search: "",
      editedIndex: -1,
      isSent: false,
      confirmCode: "",
      confirmation: false,
      smsError: false,

      headers: [
        { text: "Id", value: "id" },
        { text: "Имя", value: "name" },
        { text: "Email", value: "email" },
        { text: "Номер", value: "phone" },
        { text: "", value: "sms" },
        { text: "Подтвержден", value: "confirmed" },
        { text: "Создан", value: "created_at" },
        { text: "", value: "actions" },
      ],
      user: {
        name: "",
        email: "",
        phone: "",
        confirmed: false,
        password: "",
      },
      defaultUser: {
        name: "",
        email: "",
        phone: "",
        confirmed: false,
        password: "",
      },
    };
  },

  mounted() {
    this.$store.dispatch("usersWeb/fetchUsers");
  },

  methods: {
    editUser(user) {
      this.editedIndex = this.users.indexOf(user);
      this.user = Object.assign({}, user);
      this.dialog = true;
    },

    deleteUser(user) {
      if (confirm("Удалить этого пользователя?")) {
        this.$store.dispatch("usersWeb/deleteUser", user);
      }
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.user = Object.assign({}, this.defaultUser);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      const index = this.editedIndex;
      if (index > -1) {
        this.$store.dispatch("usersWeb/updateUser", {
          user: this.user,
          index,
        });
      } else {
        this.$store.dispatch("usersWeb/storeUser", {
          user: this.editedAdminUser,
        });
      }
      this.close();
    },
    smsSend(item) {
      axios
        .post("/users/web/confirmation", { phone: item.phone })
        .then((res) => {
          console.log(res);
          if (res.data.success) {
            this.user = Object.assign({}, item);
            this.confirmation = true;
          } else {
            this.confirmation = false;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    confirm() {
      axios
        .post("/users/web/confirmation/try", {
          phone: this.user.phone,
          code: this.confirmCode,
        })
        .then((res) => {
          console.log(res);
          if (res.data.success) {
            this.confirmation = false;
          } else {
            this.smsError = true;
          }
        })
        .catch((error) => {
          this.smsError = true;
          console.log(error);
        });
    },
  },

  computed: {
    ...mapGetters("usersWeb", ["webUsers"]),
  },
};
</script>
