<template>
  <v-data-table
    :headers="headers"
    :items="adminUsers"
    :items-per-page="5"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Admins</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>

        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on"
              >New admin user</v-btn
            >
          </template>

          <v-form v-model="valid" ref="form">
            <v-card>
              <v-card-title>
                <span class="headline">Update New admin user</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedAdminUser.name"
                        :rules="nameRules"
                        label="Имя"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedAdminUser.email"
                        :rules="emailRules"
                        label="Email"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        label="Пароль"
                        v-model="editedAdminUser.password"
                        min="5"
                        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                        @click:append="showPassword = !showPassword"
                        :type="!showPassword ? 'password' : 'text'"
                        :rules="passwordRules"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-select
                        v-model="editedAdminUser.role"
                        :options="roles"
                        label="role"
                        :rules="roleRules"
                      ></v-select>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="save"
                  :disabled="!valid"
                  >Save</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-form>
        </v-dialog>
      </v-toolbar>
    </template>

    <template v-slot:[`item.role`]="{ item }">
      {{ item.roles.role }}
    </template>

    <template v-slot:[`item.created_at`]="{ item }">
      {{ new Date(item.created_at).toLocaleString() }}
    </template>

    <template v-slot:[`item.actions`]="{ item }">
      <v-icon small class="mr-2" @click="editAdminUser(item)"
        >mdi-pencil</v-icon
      >
      <v-icon small @click="deleteAdminUser(item)">mdi-delete</v-icon>
    </template>
  </v-data-table>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data: () => {
    return {
      dialog: false,
      search: "",
      editedIndex: -1,
      showPassword: false,
      valid: false,

      headers: [
        { text: "Id", value: "id" },
        { text: "Имя", value: "name" },
        { text: "Email", value: "email" },
        { text: "Роль", value: "role" },
        { text: "Создан", value: "created_at" },
        { text: "", value: "actions" },
      ],

      editedAdminUser: {
        name: "",
        email: "",
        password: "",
        role: "",
      },

      defaultAdminUser: {
        name: "",
        email: "",
        password: "",
        role: "",
      },

      roles: [
        { id: 1, role: "superadmin" },
        { id: 2, role: "admin" },
      ],

      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      passwordRules: [(v) => !!v || "Password is required"],
      nameRules: [(v) => !!v || "Name is required"],
      roleRules: [(v) => !!v || "Role is required"],
    };
  },

  mounted() {
    this.$store.dispatch("usersAdmin/fetchUsers");
  },

  methods: {
    editAdminUser(adminUser) {
      this.editedIndex = this.adminUsers.indexOf(adminUser);
      this.editedAdminUser = Object.assign({}, adminUser);
      this.dialog = true;
    },

    deleteAdminUser(adminUser) {
      if (confirm("Удалить этого пользователя?")) {
        this.$store.dispatch("usersAdmin/deleteUser", adminUser);
      }
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedAdminUser = Object.assign({}, this.defaultAdminUser);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      const index = this.editedIndex;
      if (index > -1) {
        this.$store.dispatch("usersAdmin/updateUser", {
          user: this.editedAdminUser,
          index,
        });
      } else {
        this.$store.dispatch("usersAdmin/storeUser", {
          user: this.editedAdminUser,
        });
      }
      this.close();
    },
  },

  computed: {
    ...mapGetters("usersAdmin", ["adminUsers"]),
  },
};
</script>
