@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
        url('../fonts/Oswald-Regular.woff') format('woff'),
        url('../fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Light.woff2') format('woff2'),
        url('../fonts/Oswald-Light.woff') format('woff'),
        url('../fonts/Oswald-Light.svg#Oswald-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/Philosopher-BoldItalic.woff2') format('woff2'),
        url('../fonts/Philosopher-BoldItalic.woff') format('woff'),
        url('../fonts/Philosopher-BoldItalic.svg#Philosopher-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/Philosopher-Bold.woff2') format('woff2'),
        url('../fonts/Philosopher-Bold.woff') format('woff'),
        url('../fonts/Philosopher-Bold.svg#Philosopher-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Play';
    src: url('../fonts/Play-Regular.woff2') format('woff2'),
        url('../fonts/Play-Regular.woff') format('woff'),
        url('../fonts/Play-Regular.svg#Play-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/Philosopher-Italic.woff2') format('woff2'),
        url('../fonts/Philosopher-Italic.woff') format('woff'),
        url('../fonts/Philosopher-Italic.svg#Philosopher-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/Philosopher-Regular.woff2') format('woff2'),
        url('../fonts/Philosopher-Regular.woff') format('woff'),
        url('../fonts/Philosopher-Regular.svg#Philosopher-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
