<template>
  <v-list dense>
    <template v-for="item in items">
      <v-list-item link @click="link(item.title)" :key="item.title" v-if="$auth.check(item.role)">
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>{{ item.text }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </template>
  </v-list>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          title: "Dashboard",
          text: "Главная страница",
          icon: "mdi-view-dashboard"
        },
        {
          title: "Categories",
          text: "Категории",
          icon: "mdi-image"
        },
        { title: "Items", text: "Товары", icon: "mdi-coin" },
        { title: "Extras", text: "Подарки", icon: "mdi-coin" },
        { title: "Order", text: "Заказы", icon: "mdi-view-list" },
        {
          title: "Promo",
          text: "Промокоды",
          icon: "mdi-barcode-scan"
        },
        {
          title: "UsersWeb",
          text: "Пользователи Web",
          icon: "mdi-account-multiple",
          role: "superadmin"
        },
        {
          title: "UsersAdmin",
          text: "Пользователи Admin",
          icon: "mdi-account-multiple",
          role: "superadmin"
        }
      ]
    };
  },
  methods: {
    link(title) {
      if (this.$route.name !== title) {
        this.$router.push({ name: title });
      }
    }
  }
};
</script>
