<template>
  <v-switch v-model="dark" primary label="Dark" />
</template>

<script>
export default {
  data: () => ({
    dark: null,
  }),
  mounted() {
    if (!localStorage.getItem("theme")) {
      localStorage.setItem("theme", "false");
      this.$vuetify.theme.dark = false;
      this.dark = false;
    } else if (localStorage.getItem("theme") === "true") {
      this.$vuetify.theme.dark = true;
      this.dark = true;
    } else if (localStorage.getItem("theme") === "false") {
      this.$vuetify.theme.dark = false;
      this.dark = false;
    }
  },
  watch: {
    dark: function() {
      if (this.dark) {
        localStorage.setItem("theme", "true");
        this.$vuetify.theme.dark = true;
      } else {
        localStorage.setItem("theme", "false");
        this.$vuetify.theme.dark = false;
      }
    },
  },
};
</script>
