@font-face {
    font-family: 'Philosopher';
    src: url('Philosopher-BoldItalic.woff2') format('woff2'),
        url('Philosopher-BoldItalic.woff') format('woff'),
        url('Philosopher-BoldItalic.svg#Philosopher-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Philosopher';
    src: url('Philosopher-Bold.woff2') format('woff2'),
        url('Philosopher-Bold.woff') format('woff'),
        url('Philosopher-Bold.svg#Philosopher-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Play';
    src: url('Play-Regular.woff2') format('woff2'),
        url('Play-Regular.woff') format('woff'),
        url('Play-Regular.svg#Play-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher';
    src: url('Philosopher-Italic.woff2') format('woff2'),
        url('Philosopher-Italic.woff') format('woff'),
        url('Philosopher-Italic.svg#Philosopher-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Philosopher';
    src: url('Philosopher-Regular.woff2') format('woff2'),
        url('Philosopher-Regular.woff') format('woff'),
        url('Philosopher-Regular.svg#Philosopher-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

